.data {
	border-bottom: #E5E5E5 1px solid;
	height: 500px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	.social {
		margin-left: 5%;
	}
}