.counter {
	color: white;
	height: 90px;
	position: absolute;
		right: 3%;
		top: -35px;
	width: 90px;
}

circle {
	fill: #00BBFF;
	stroke: #FFC400;
}

.counter-index {
	position: absolute;
		left: 50%;
    	top: 40%; 
	transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.counter-type {
	position: absolute;
		left: 50%;
    	top: 60%; 
	transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 576px) {
	.counter {
		height: 90px;
		right: 3%;
		top: -35px;
		width: 90px;
	}
}

@media (min-width:768px) {
	.counter {
		height: 90px;
		right: 3%;
		top: -35px;
		width: 90px;
	}
}

@media (min-width: 992px) {
	.counter {
		height: 90px;
		right: 3%;
		top: -35px;
		width: 90px;
	}
}

@media (min-width: 1200px) {
	.counter {
		height: 90px;
		right: 3%;
		top: -35px;
		width: 90px;
	}
}

