.course-column {
	margin-top: 5%;
}

.course-column a {
	margin-right: 5%;
	position: relative;
		left: 35%;
}

.modal {
	
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	.course-column {
		border-right: #E5E5E5 1px solid;
		margin-top: 5%;
	}

	.course-column a {
		left: 35%;
		margin-right: 5%;
	}
}