#login {
    background: #F5F5F5;
    border-radius: 2%;
    min-height: 300px;
    position: absolute;
        left: 30%;
        top: 20%;
    width: 40%;
}

.forgot {
    display: block;
    text-align: center;
}

.forgot:hover {
    text-decoration: none;
}

.submit {
    position: absolute;
        bottom: 20%;
        left: 15%;
    width: 66%;
}

.create {
    position: absolute;
        bottom: 2%;
        left: 30%;
}