@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .dashboard-header {
        height: 130px;
        z-index: 1;
    }

    .dashboard-header a {
        left: 5%;
        top: 50%;
    }

    figure {
        position: absolute;
            right: 5%;
            bottom: 10%;
    }
}



