nav  {
    background: #EDF2F4;
    float: left;
    height: 620px;
    text-align: center;
    width: 100px;
}

nav .btn {
    display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 10% 10%;
        grid-gap: 10px;
    font-size: 2.25em;
    height: 50px;
    margin: 30px;
	width: 50px;
}

nav a {
	position: relative; /* position icons relative to button/link */
}

nav svg {
	align-content: center;
	color: #00BBFF;
	position: absolute;
		left: 50%;
    	top: 50%; 
	transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    
}

nav svg:hover {
	color: white;
} /* convert to javascript, with svg white on button hover not svg hover */

.active-nav {
	background-color: #0083B3;
}

.secondary-nav-button {
    position: relative;
    	top: 30px;
}

