.course-header {
	margin-top: 5%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	.course-header {
		border-right: #E5E5E5 1px solid;
		margin-top: 5%;
	}

	.course-header a {
		margin-right: 5%;
		position: relative;
		left: 35%;
	}
}