input {
	border-top-left-radius: 0.25rem !important;
	border-bottom-left-radius: 0.25rem !important; /* important to override form-control styles to radius*/
}

textarea {
	border-top-left-radius: 0.25rem !important;
	border-bottom-left-radius: 0.25rem !important; /* important to override form-control styles to radius*/
	width: 100%;
}

form .row {
	width: 100%;
}

.form-action a, .form-action button {
	float: right;
	margin-right: 2%;
}

